$first: #507da6ff;
$second: #537460ff;
$third: #69a051ff;
$fourth: #d1d029ff;
$fifth: #fee40aff;
$sixth: #fcb022ff;
$seventh: #ec7026ff;
$eight: #e34753ff;
$ninth: #822d65ff;
$tenth: #4b225cff;
$white: #fbfbfbff;
$black: #2e2e2eff;