<div class="fibonacci-wrapper">
    <div class="fibonacci-cards">
        <div class="card-1 card">
            <div class="card-2 card">
                <div class="card-3 card">
                    <div class="card-4 card">
                        <div class="card-5 card">
                            <div class="card-6 card">
                                <div class="card-7 card">
                                    <div class="card-8 card">
                                        <div class="card-9 card">
                                            <div class="card-10 card">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>